<script>
  window.drakeImages = {
    iconPhotos: "<%= image_url('icon-photos.png') %>",
    iconSearch: "<%= image_url('icon-search.png') %>",
    iconTimeline: "<%= image_url('icon-timeline.png') %>",

    iconDrakes: "<%= image_url('icon-drake-requests.png') %>",
    iconDrakesGray: "<%= image_url('icon-drakes-gray.png') %>",
    iconMessages: "<%= image_url('icon-messages.png') %>",
    iconNotifications: "<%= image_url('icon-notifications.png') %>",

    iconMenu: "<%= image_url('icon-menu.png') %>",
    iconDrakebook: "<%= image_url('icon-drakebook.png') %>",

    iconIntroHometown: "<%= image_url('intro_hometown.png') %>",
    iconIntroLocation: "<%= image_url('intro_location.png') %>",
    iconIntroSchool: "<%= image_url('intro_school.png') %>",
    iconIntroWork: "<%= image_url('intro_work.png') %>",
    iconIntroGlobe: "<%= image_url('intro_globe.png') %>",
    iconIntroSound: "<%= image_url('intro_sound.png') %>",

    iconMail: "<%= image_url('icon-mail.png') %>",
    iconCake: "<%= image_url('icon-cake.png') %>",
    iconPhone: "<%= image_url('icon-phone.png') %>",

    default: {
      profile: "<%= image_url('default-avatar.png') %>",
      cover: "<%= image_url('default-cover.png') %>"
    }
  };
</script>
<div id="drakebook"></div>
