.drakes-index-pane {
  width: 815px;
}

.drakes-index-pane header {
  background: #f6f7f9;
  border: 1px solid rgba(150, 150, 150, .4);

  color: #4b4f56;
  font-weight: bold;
  font-size: 20px;
}

.drakes-index-pane img, .drakes-index-pane h3 {
  display: block;
  float: left;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.drakes-item-pane {
  display: block;
  float: left;
  width: 400px;
  height: 100px;
  border: 1px solid rgba(150, 150, 150, .4);
}

.drakes-item-pane img {
  height: 90px;
  width: 90px;
}
