.timeline-pane {
  display: block;
  width: 818px;
}

.main-timeline-pane {
  display: block;
  float: right;
  width: 491px;
  position: relative;
  margin: 0;
}

.post-pane {
  border: 1px solid rgba(150, 150, 150, .2);
  border-style: outset;
  border-radius: 3px;
  background: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.post-content-pane {
  padding: 10px;
}

.post-author {
  display: block;
  margin-bottom: 5px;
}

.post-author img {
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(200, 200, 200, .2);
  margin-right: 5px;
  cursor: pointer;
}

.post-author a {
  display: block;
  float: left;
  line-height: 42px;
  color: #365899;
  font-weight: bold;
  vertical-align: middle;
}

.modify-post-buttons {
  display: block;
  float: right;
  margin-top: 10px;
}

.modify-post-buttons button {
  float: left;
  padding: 3px 7px;
  color: #7f7f7f;
  background: white;
  font-size: 12px;
  margin-left: 5px;
  border: 1px solid rgba(150, 150, 150, .2);
}

.post-buttons-pane {
  margin: 0 10px;
  border-top: 1px solid rgba(150, 150, 150, .2);
}

.post-buttons {
  display: block;
  float: left;
}

.post-buttons li {
  display: block;
  float: left;
  color: #7f7f7f;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: bold;
}

.comment-pane {
  border-top: 1px solid rgba(150, 150, 150, .2);
  background: #f6f7f9;
}

.comment-pane img {
  display: block;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(150, 150, 150, .2);
}

.comment-box {
  display: block;
  float: left;
  font-size: 12px;
  padding: 5px;
}

.comment-content a, .comment-content p {
  display: inline-block;
  margin-top: 2px;
  line-height: 30px;
}

.comment-content a {
  color: #365899;
  font-weight: bold;
  padding-right: 5px;
}

.comment-buttons {
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

.comment-buttons a {
  float: left;
  display: inline-block;
  padding: 3px 5px;
  margin-right: 5px;
  color: #7f7f7f;
  font-size: 12px;
  border: 1px solid rgba(150, 150, 150, .2);
  background: white;
}

.comment-buttons a:hover { text-decoration: none; }

.wall-arrow {
  float: left;
  margin-top: 12px;
}

.wall-arrow:before {
  content: "\25BA"; /* right point triangle in escaped unicode */
  color: #90949c;
  margin: 0 6px;
  font-size: 10px;
}
