.post-form-pane,
.edit-form-pane {
  border: 1px solid rgba(150, 150, 150, .2);
  border-style: outset;
  height: 115px;
  background: #f6f7f9;
  border-radius: 3px;
  margin-bottom: 30px;
}

/*.post-form-pane { width: 489px; }
.edit-form-pane { width: 467px; }*/
.post-form-pane, .edit-form-pane {
  box-sizing: border-box;
  width: 100%;
}

/*.post-form { width: 449px; }
.edit-form { width: 427px; }*/

.post-form, .edit-form {
  position: relative;
  height: 115px;
}

.post-form img,
.edit-form img {
  position: absolute;
  background: white;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  z-index: 2;
  /*padding: 10px 10px 15px 10px;
  border-bottom: 1px solid rgba(150, 150, 150, .4);*/
}

.post-form textarea,
.edit-form textarea {
  position: absolute;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(150, 150, 150, .2);
  box-sizing: border-box;
  height: 75px;
  width: 100%;
  padding: 20px 10px 25px 60px;
  background: white;
  font-size: 14px;
  z-index: 1;
}

.buttons-pane button {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 15px;
  border: 1px solid #4267b2;
  background: #4267b2;
  margin-top: 4px;
  margin-right: 5px;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 4px 15px;
  z-index: 2;
}

.post-comment-pane,
.edit-comment-pane {
  background: #f6f7f9;
}

.post-comment img,
.edit-comment img {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid rgba(150, 150, 150, .4);
}

.post-comment textarea,
.edit-comment textarea {
  display: block;
  float: left;
  width: 350px;
  height: 20px;
  line-height: 20px;
  padding: 5px 5px;
  background: white;
  margin-left: 5px;
  border: 1px solid rgba(150, 150, 150, .4);
}

.comment-buttons-pane {
  display: block;
  float: left;
  background: #f6f7f9;
  width: 85px;
  height: 37px;
}

.comment-buttons-pane button {
  margin-top: 3px;
  margin-left: 12px;
  border: 1px solid rgba(150, 150, 150, .4);
  border-radius: 3px;
  letter-spacing: 1px;
  font-size: 12px;
  color: white;
  background: #4267b2;
  padding: 4px 15px;
}
