.search-header {
  position: relative;
  display: block;
  background: #3b5998;
  height: 45px;
  width: 100%;
}

.search-nav {
  min-width: 300px;
  max-width: 950px;
  margin: auto;
}

.search-nav > div {
  position: relative;
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 9px;
  margin-bottom: 9px;
  width: 70%;
  min-width: 400px;
  overflow: visible;
}

.search-nav-left img {
  display: block;
  float: left;
  width: 25px;
  cursor: pointer;
}

.search-nav-left input {
  display: block;
  float: left;
  margin-left: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  background: white;
  padding: 4px;
  width: 100%;
  max-width: 400px;

  font-size: 14px;
  vertical-align: center;
}

.search-icons {
  float: right;
}

.search-icons > li {
  display: block;
  float: left;
  margin-top: 14px;
  margin-right: 5px;

  font-size: 12px;
  color: white;
  vertical-align: middle;
}

.current-user-thumb {
  cursor: pointer;
  padding-right: 20px;
}

.current-user-thumb img {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .4);
  margin-top: -5px;
  margin-right: 5px;
}

.current-user-thumb label,
.current-user-thumb img {
  display: block;
  float: left;
}
