.session-view {
  position: absolute;
  background: #edf0f5;
  width: 100%;
  height: 100%;
}

.session-header {
  position: relative;
  display: block;
  background: #3b5998;
  height: 82px;
  width: 100%;
}

.session-nav {
  width: 950px;
  margin: auto;
  color: white;
}

.session-nav h1 {
  display: block;
  width: 300px;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 32px;
  font-weight: bold;
  float: left;

  position: relative;
  top: 21px;
}

.login-pane {
  display: block;
  position: relative;
  float: right;
  top: 15px;
  font-size: 12px;
}

.login-pane > div, .login-pane button {
  float: left;
}

.login-pane input {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 135px;
  padding: 5px;
  margin-right: 5px;
}

.login-pane label {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 135px;
  padding-bottom: 3px;
  margin-right: 5px;
}

td {
  width: 50px;
  text-align: left;
}

input {
  background: white;
  color: black;
}

.login-button,
.guest-login {
  background: #5973a8;
  border: .5px solid gray;
  border-style: outset;
  padding: 3px 5px;
  margin-right: 5px;
  font-weight: bold;
}

.login-button { width: 50px; }

.guest-login {
  position: absolute;
  font-size: 12px;
  width: 100px;
}

.login-pane input {
  padding: 3px 5px;
  border: 1px solid black;
}

.session-body {
  display: block;
  margin: auto;
  width: 950px;
}

.propaganda {
  margin-top: 60px;
  float: left;
  width: 550px;
}

.propaganda div {
  display: block;
  margin-top: 10px;
}

.propaganda img,
.propaganda strong,
.propaganda p {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  margin-left: 0px;
}

.propaganda strong {
  font-weight: bold;
  margin-right: 15px;
}

.propaganda p {
  font-size: 14px;
}

.propaganda h2 {
  color: black;
  font-weight: bold;
  font-size: 22px;
  font-family: Verdana;
  overflow: wrap;
}

.search-fix div {
  position: absolute;
  left: -9px;
}

.search-fix strong {
  margin-left: -5px;
}

.signup-wrapper {
  margin-top: 15px;
  float: right;
  width: 400px;
}

.signup-wrapper h2 {
  color: black;
  font-size: 36px;
  font-family: Verdana;
}

.signup-wrapper p {
  color: black;
  font-size: 18px;
  font-family: Verdana;
  font-weight: normal;
  margin-bottom: 20px;
}

.signup-pane input {
  display: block;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  vertical-align: center;
  margin: 10px 0;
  border: 1px solid #BFC7D6;
}

.signup-pane button {
  border: 1px solid #3b6e22;
  border-radius: 5px;
  border-style: outset;
  background-color: #69a74e;
  background: linear-gradient(#67ae55, #578843);
  padding: 10px;
  width: 200px;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  letter-spacing: 1px;
}

.signup-pane button:hover {
  background: linear-gradient(#7fab6f, #578843);
}
