.file-upload-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 100;
}

#modal-form {
  position: relative;
  margin: 100px auto;
  width: 400px;
  height: 400px;
  background: white;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 3px;
}

#modal-img {
  margin: 50px 100px;
  width: 200px;
  height: 200px;
}

#modal-input {
  width: 200px;
  float: left;
  bottom: 85px;
  text-align: center;
  margin: 20px;
}

#modal-button {
  margin: 20px;
  float: right;
  box-sizing: content-box;
  font-size: 12px;
  padding: 5px 10px;
  background: #5973a8;
  border: 1px solid rgba(0, 0, 0, .2);
  border-style: outset;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}
